<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>429654259019-03f16jorgk7p5epjdgg3a2rtk7ksh0j1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.429654259019-03f16jorgk7p5epjdgg3a2rtk7ksh0j1</string>
	<key>API_KEY</key>
	<string>AIzaSyD-SdqWuXC0ojUPFNDrYXtHeCWiyIfVeYU</string>
	<key>GCM_SENDER_ID</key>
	<string>429654259019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappClone.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-clone-backend-e9d0c</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-clone-backend-e9d0c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:429654259019:ios:4a65f5827c8c52385f64ce</string>
</dict>
</plist>